In [4]:
print("calculator")
print('1.add')
print('2.subtraction')
print('3.multiplication')
print('4.division')
choice=int(input('choice(1-4:)'))
a=int(input('enter A:'))
b=int(input('enter B:'))
if choice==1:
    print("sum=",a+b)
elif choice==2:
    print("subtraction=",a-b)
elif choice==3:
    print("product=",a*b)
elif choice==4:
    print("division=",a/b)
else:
    print("enter valid choice")

calculator
1.add
2.subtraction
3.multiplication
4.division
choice(1-4:)3
enter A:10
enter B:20
product= 200

In [5]:
string1 = input('Enter a String1 - ')
string2 = input('Enter a String2 - ')


if (string1 == 'xyz' and string2 == 'xyz123'):
    print('Successfully Logged in!!')
else:
    print('Please Check your userid or Password')

Enter a String1 - roja
Enter a String2 - xyz123
Please Check your userid or Password

In [3]:
age = int(input('Enter the Age - '))
sex = input('Enter Sex (M / F ) - ')

nd = int(input('Enter a Number of Days - '))

if (age >= 18 and age <30 ) and (sex.upper() == 'M'):
    amt = nd * 700
    print('Total wages - ', amt)
elif (age >= 18 and age <30 ) and (sex.upper() == 'F'):
    amt = nd * 750
    print('Total wages - ', amt)
elif (age >= 30 and age <= 40 ) and (sex.upper() == 'M'):
    amt = nd * 800
    print('Total wages - ', amt)
elif (age >= 30 and age <= 40 ) and (sex.upper() == 'F'):
    amt = nd * 800
    print('Total wages - ', amt)
else:
    print("enter apropriate age")

Enter the Age - 40
Enter Sex (M / F ) - M
Enter a Number of Days - 90
Total wages -  72000

In [2]:
a=int(input("enter:"))
b=int(input("enter:"))
c=int(input("enter:"))
if(a>=b and a>c):
    if(b>c):
        print(b)
    else:
        print(c)
elif(b>c and b>a):
    if(c>a):
        print(c)
    else:
        print(a)
elif(a>b):
    print(a)
else:
    print(b)

enter:7
enter:8
enter:9
8

In [3]:
a=int(input("enter:"))
b=int(input("enter:"))
c=int(input("enter:"))
if a>b and a<c or a>c and a<b:
    print(a)
elif b>a and b<c or b>c and b<a:
    print(b)
else:
    print(c)

enter:4
enter:7
enter:2
4

In [1]:
#USD (U.S Dollars) (1 USD =71.83 INR)

#YEN (Japanese YEN) (1 YEN= 0.66 INR

#EURO (1 EURO=79.57 INR)

#U.K. POUND (1 U.K POUND=93.11 INR)

In [3]:
n=int(input("enter number:"))
country=input("enter USD/YEN/EURO/UK:")
if country=="USD":
    print("amount:",n*71.83,"INR")
elif country=="YEN":
    print("amount:",n*0.66,"INR")
elif country=="EURO":
    print("amount:",n*79.57,"INR")
elif country=="UK":
    print("amount:",n*93.11,"INR")
else:
    print("enter valid")

enter no.of rupees:2
enter USD/YEN/EURO/UK:UK
amount: 186.22 INR

In [5]:
# Accept the Following From the User and Calculate the Percentage of Class Attended:

#a. Total Number of Working Days 

#b. Total Number of Days for Absent 

#After Calculating Percentage show that, if the Percentage is less than 75, 
#then  the Student will not be permitted for the Exams.

In [7]:
wdays=int(input("enter no.of working days:"))
adays=int(input("enter no.of absent days:"))
pdays=wdays-adays
percentage=((pdays/wdays)*100)
print(percentage)
if percentage<75:
    print("not permitted for the exams")
else:
    print("permitted")

enter no.of working days:20
enter no.of absent days:2
90.0
permitted

In [2]:
#Nested IF else to Check Input Number is Zero, Positive Or Negative:

In [5]:
num=int(input("enter:"))
if num==0:
    print("zero")
elif num<0:
    print("negative number")
else:
    print("positive number")

enter:9
positive number

In [1]:
#list function:

In [3]:
list1=[1,2,3]
list1

[1, 2, 3]

In [4]:
list1.append(5)
list1

[1, 2, 3, 5]

In [5]:
list1.pop()
list1

[1, 2, 3]

In [6]:
list1.reverse()
list1

[3, 2, 1]

In [8]:
list1.sort()
list1

[1, 2, 3]

In [10]:
list2=[4,9,8,2]
list2

[4, 9, 8, 2]

In [12]:
list1==list2

False

In [14]:
list1.count(3)

1

In [19]:
list1.index(3)
list1

[1, 2, 3]

In [20]:
list1.insert(2,99)
list1

[1, 2, 99, 3]

In [23]:
list1[2]='45'
list1

[1, 2, '45', 3]

In [30]:
list1[-1:1:-1]
list1

[1, 2, '45', 3]

In [34]:
list1[:-1]
list1

[1, 2, '45', 3]

In [36]:
list1[1:]
list1

[1, 2, '45', 3]

In [37]:
list3='python'
list3

'python'

In [39]:
list4=['roja','lakshmi','karra']
list4

['roja', 'lakshmi', 'karra']

In [40]:
list4.extend('roja')
list4

['roja', 'lakshmi', 'karra', 'r', 'o', 'j', 'a']

In [47]:
string=('roja','lakshmi')
string

('roja', 'lakshmi')

In [1]:
x=0
while(x<10):
    print(x)
    x=x+2

0
2
4
6
8

In [2]:
x=1
while(x<10):
    print(x,end=' ')
    x=x+2

1 3 5 7 9

In [5]:
x=1
while x<=10:
    
    print(x,'\t\t\t\t',x*x)
    x=x+1

1 				 1
2 				 4
3 				 9
4 				 16
5 				 25
6 				 36
7 				 49
8 				 64
9 				 81
10 				 100

# Accept the Three Sides of the Triangle and Check whether it is Equilateral, Isosceles or Scalene Traingle : 

NOTE : 
    
1. An Equilateral triangle is a triangle in which all the three sides are Equal.
2. A scalene triangle is a triangle that has three unequal sides.
3. An isosceles triangle is a triangle with(at least) two equal sides.

In [11]:
num1=int(input("enter:"))
num2=int(input("enter:"))
num3=int(input("enter:"))
if (num1==num2 and num2==num3):
    print(" Equilateral triangle")
elif (num1!=num2!=num3):
    print(" scalene triangle")
elif (num1==num2 or num2==num3 or num1==num3):
    print("isosceles triangle")
else:
    print("enter valid one")

enter:4
enter:4
enter:4
 Equilateral triangle

In [1]:
list1=[12,45,8,9,4]
i=0
sum=0
while i<len(list1):
    sum+=list1[i]
    i+=1
print(sum)

78

In [3]:
list1=['apple','banana','grapes']
while list1:
    list1.pop()
print(list1)

[]

In [4]:
#Printing all Letters except some using Python While Loop :

In [ ]:
letter='welcome to sure trust'
i=0
while i<len(letter):
    if i=='t':
        i=i+1
        continue
print(letter[i],end=" ")

In [1]:
a=90
a

90

In [1]:
#Write a Program to Get the Following Output :
#1 -- 49

#2 -- 48

#3 -- 47

#.. .. ..

#48 -- 2

#49 -- 1

In [ ]:
#Write a Program to Display Sum of Odd Numbers and Even Numbers separately that fall Between two Numbers accepted
#from the user (including both the Numbers) using while loop.

In [3]:
i=1
k=49
while i<=49:
        print(i,'---',k)
        i=i+1
        k=k-1

1 --- 49
2 --- 48
3 --- 47
4 --- 46
5 --- 45
6 --- 44
7 --- 43
8 --- 42
9 --- 41
10 --- 40
11 --- 39
12 --- 38
13 --- 37
14 --- 36
15 --- 35
16 --- 34
17 --- 33
18 --- 32
19 --- 31
20 --- 30
21 --- 29
22 --- 28
23 --- 27
24 --- 26
25 --- 25
26 --- 24
27 --- 23
28 --- 22
29 --- 21
30 --- 20
31 --- 19
32 --- 18
33 --- 17
34 --- 16
35 --- 15
36 --- 14
37 --- 13
38 --- 12
39 --- 11
40 --- 10
41 --- 9
42 --- 8
43 --- 7
44 --- 6
45 --- 5
46 --- 4
47 --- 3
48 --- 2
49 --- 1

In [3]:
#Write a Program to Display Sum of Odd Numbers and Even Numbers separately that fall Between two Numbers accepted
#from the user (including both the Numbers) using while loop.

In [3]:
lb=int(input("enter:"))
ub=int(input("enter:"))
esum=0
osum=0
while lb <=ub:
    if lb%2==0:
        esum=esum+lb
        lb=lb+1
    else:
        osum=osum+lb
        lb=lb+1
print("even sum",esum)
print("odd sum",osum)

enter:1
enter:5
even sum 6
odd sum 9

In [2]:
n=int(input())
i=2
while i<n:
    
    print(i,end=" ")
    i=i*10

5
20

In [3]:
#Assignment - 1:

#wap to accept hours and rate per hour from user and compute gross pay based on following condition :

#if the hours is less than or equal to 40 then standard rate
#if the hours are more than 40 then apply 1.5 times of rate for additonal hours

In [4]:
#Assignment - 2 :

#wap to print grade of student

#take marks of a student in 3 subjects as input and store them in a list.

#calculate the percentage out of 300.

#print grade based on following condition.

#'>75' - A grade '>60' - B grade '40' - c grade

#otherwise - D grade

In [5]:
#Assignment - 3 :

#write a program for generating a F'series:

#output :

#0 1 1 2 3 5 8 13 21 34

#by using While Loop

In [7]:
#wap to accept hours and rate per hour from user and compute gross pay based on following condition :

#if the hours is less than or equal to 40 then standard rate
#if the hours are more than 40 then apply 1.5 times of rate for additonal hours

In [10]:
hrs=int(input("enter hrs:"))
rph=int(input("enter:"))
if hrs<=40:
    print("standard rate:",hrs*rph)
else:
    print("rate:",40*rph+(hrs-40)*rph*1.5)

enter hrs:50
enter:100
rate: 5500.0

In [11]:
#wap to print grade of student

#take marks of a student in 3 subjects as input and store them in a list.

#calculate the percentage out of 300.

#print grade based on following condition.

#'>75' - A grade '>60' - B grade '40' - c grade

#otherwise - D grade

In [2]:
li=[]
sub1=int(input("enter marks:"))
sub2=int(input("enter marks:"))
sub3=int(input("enter marks:"))
i=0
while i>=3:
    li.append(i)
per=(sum(li)/300)*100
if per>75:
    print("A grade")
elif per>60:
    print("B grade")
elif per==40:
    print("c grade")
else:
    print("D grade")

enter marks:60
enter marks:70
enter marks:80
D grade

In [7]:
#write a program for generating a F'series:

#output :

#0 1 1 2 3 5 8 13 21 34

#by using While Loop

In [17]:
n=int(input("enter no.of terms:"))
f1=0
f2=1
i=0
print(f1,end=' ')
print(f2,end=' ')
while i<n:
    f3=f1+f2
    i=i+1
    print(f3,end=' ')
    f1=f2
    f2=f3

enter no.of terms:8
0 1 1 2 3 5 8 13 21 34

In [2]:
#Create a dictionary and access it values using a condition on its key. The data is given below.
#Let the condidtion on the key is that it should be a even number.
#Key	1	2	3	4	5
#Name	Aman	Mohit	Guari	Imran	Roma
#Marks	24	25	26	24	27

In [3]:
dict1={1:'aman',2:'mohit',3:'gauri',4:'imran',5:'rama'}
dict1

{1: 'aman', 2: 'mohit', 3: 'gauri', 4: 'imran', 5: 'rama'}

Assignment - 1 :

The days should be the keys, and the Temperatures (in Celsius) corresponding to the days should be values, Hence Create a Dictionary Comprehension by using list Comprehension.
days = ['Sunday', 'Monday' ,'Tuesday' ,'Wednesday','Thursday' ,'Friday' ,'Saturday']
temp_c =  [30.5, 32.1,  30.2, 29.9, 30.9, 29.7, 31.8]

In [8]:
days = ['Sunday', 'Monday' ,'Tuesday' ,'Wednesday','Thursday' ,'Friday' ,'Saturday']
temp_c =  [30.5, 32.1,  30.2, 29.9, 30.9, 29.7, 31.8]
temp = {day:temp for (day,temp) in zip(days,temp_c)}

print(temp)

{'Sunday': 30.5, 'Monday': 32.1, 'Tuesday': 30.2, 'Wednesday': 29.9, 'Thursday': 30.9, 'Friday': 29.7, 'Saturday': 31.8}

Assignment - 2:

Customers	Alex	Bob	Carol	Dave	Flow	Katie	Nate
part - 1 : Let's say we have a list of customers who visit our store, and we'd like to offer a random discount to each customer. We'd like the Discount value to be anywhere between  $1 and $100

HINT : JUST IMPORT RANDOM library to fetch values.


part - 2 : we'd now like to offer customers who were offered fewer than $30% discount, a 10% discount on their next Purchase.
customer = ['Alex', 'Bob', 'Carol', 'Dave', 'Flow', 'Katie', 'Nate']

In [11]:
import random
customers=['alex','bob','carol','dave','flow','katie','nate']
dis={customer:random.randint(1,100) for customer in customers}
print(dis)

{'alex': 25, 'bob': 30, 'carol': 73, 'dave': 53, 'flow': 40, 'katie': 25, 'nate': 98}

In [20]:
import random
customer_name=['alex','bob','carol','dave','flow','katie','nate']
dis=random.sample(range(1,100),7) 
dis
cust={a:b for(a,b)in zip(customer_name,dis)}
print(cust)
my_dict={a:b+10 for (a,b) in zip(customer_name,dis)if b<30}
print(my_dict)

{'alex': 63, 'bob': 7, 'carol': 8, 'dave': 93, 'flow': 34, 'katie': 83, 'nate': 24}
{'bob': 17, 'carol': 18, 'nate': 34}

Write a program to validate the data entered by its user and then perform conversion from kilogram to pounds. Write a program that asks the user for a weight and converts it from kilograms to pounds. Whenever the user enters a weight below 0, the program should tell them that their entry is invalid and then ask them again to enter a weight. At the end it should show a weight converted into pounds. do this repeatedly untill user enters 'STOP'

[use of IF statement is restricted here]

Sample Input/Output:
Enter Weight or enter STOP: 10

Weight in pounds: 22.046226218 lbs

Enter Weight: 50

Weight in pounds: 110.23113109 lbs

Enter Weight: 45

Weight in pounds: 99.208017981 lbs

Enter Weight: 62

Weight in pounds: 136.6866025516 lbs

Enter Weight: STOP

In [1]:
num=int(input("enter weight or enter STOP:"))
n='STOP'
while(num>0):
        print("weight in pounds:",float(num*2.2046226218),"lbs")
        num=int(input("enter weight:"))
        while(num==n):
            print("Enter Weight: STOP")

enter weight or enter STOP:10
weight in pounds: 22.046226218 Ibs
enter weight:50
weight in pounds: 110.23113109 Ibs
enter weight:45
weight in pounds: 99.208017981 Ibs
enter weight:STOP

ValueError: invalid literal for int() with base 10: 'STOP'

if the number is 231 and the output should be two three one:

In [4]:
def digitname(num):
    if num==0:
        print("zero")
    elif num==1:
        print("one")
    elif num==2:
        print("two")
    elif num==3:
        print("three")
    elif num==4:
        print("four")
    elif num==5:
        print("five")
    elif num==6:
        print("six")
    elif num==7:
        print("seven")
    elif num==8:
        print("eight")
    elif num==9:
        print("nine")
def printword(num):
    i = 0
    length = len(num)
    while i < length:
        digitname(num[i])
        i += 1
num=int(input("enter:"))
printword(num)

enter:123

TypeError: object of type 'int' has no len()

In [13]:
n=input("enter:")
dictionary={'0':'zero','1':'one','2':'two','3':'three','4':'four','5':'five','6':'six','7':'seven','8':'eight','9':'nine'}
for i in n:
    print(dictionary[i],end=' ')

enter:3578
three five seven eight

ASK - 1:

You are making a phonebook. The contacts are stored in a dictionary, where the key is the name and the value is a list, representing the number and the email of the contact. You need to implement search: take the name of the contact as input and output the email. If the contact is not found, output "Not found".

In [2]:
dict1={'roja':['7661864339','roja@gmail.com'],'sunitha':['889765432','sunitha@gmail.com']}
name=input("enter the name:")
if name in dict1:
    print(dict1[name][1])
else:
    print("Not found")

enter the name:poojitha
Not found

Write a program to select stores located in Hyderabad
Create a column 'Rank_sales' which contains the rank of each store based on sales of the product in ascending order
Write a program to select all columns, except the 'Location' from the given dataframe

<table>
<tr>
<th>Store</th>
<th>Location</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>Mumbai</td>
<td>40000</td>
</tr>
<tr>
<td>B</td>
<td>Pune</td>
<td>45000</td>
</tr>
<tr>
<td>A</td>
<td>Hyderabad</td>
<td>50000</td>
</tr>
<tr>
<td>C</td>
<td>Mumbai</td>
<td>90000</td>
</tr>
<tr>
<td>D</td>
<td>Pune</td>
<td>89000</td>
</tr>
<tr>
<td>A</td>
<td>Delhi</td>
<td>87000</td>
</tr>
<tr>
<td>D</td>
<td>Hyderabad</td>
<td>85000</td>
</tr>
<tr>
<td>A</td>
<td>Pune</td>
<td>78000</td>
</tr>
<tr>
<td>C

In [26]:

import pandas as pd
data = {'store':['A','B','C','D','A','D','A','C'],
       'Location':['Mumbai','pune','hyderabad','mumbai','pune','delhi','hyderabad','pune'],
       'sales':[40000,45000,50000,90000,89000,87000,85000,78000]}
df= pd.DataFrame(data)
df

  store   Location  sales
0     A     Mumbai  40000
1     B       pune  45000
2     C  hyderabad  50000
3     D     mumbai  90000
4     A       pune  89000
5     D      delhi  87000
6     A  hyderabad  85000
7     C       pune  78000

In [28]:
df[df.Location=="hyderabad"]

  store   Location  sales
2     C  hyderabad  50000
6     A  hyderabad  85000

In [29]:
df.rank()

   store  Location  sales
0    2.0       1.0    1.0
1    4.0       7.0    2.0
2    5.5       3.5    3.0
3    7.5       5.0    8.0
4    2.0       7.0    7.0
5    7.5       2.0    6.0
6    2.0       3.5    5.0
7    5.5       7.0    4.0

In [1]:
import pandas as pd
data = {'store':['A','B','C','D','A','D','A','C'],
       'Location':['Mumbai','pune','hyderabad','mumbai','pune','delhi','hyderabad','pune'],
       'sales':[40000,45000,50000,90000,89000,87000,85000,78000]}
df= pd.DataFrame(data)
df.sort_values('store')
df

  store   Location  sales
0     A     Mumbai  40000
1     B       pune  45000
2     C  hyderabad  50000
3     D     mumbai  90000
4     A       pune  89000
5     D      delhi  87000
6     A  hyderabad  85000
7     C       pune  78000

In [24]:
import pandas as pd
data = {'store':['A','B','C','D','A','D','A','C'],
       'Location':['Mumbai','pune','hyderabad','mumbai','pune','delhi','hyderabad','pune'],
       'sales':[40000,45000,50000,90000,89000,87000,85000,78000]}
df= pd.DataFrame(data)
df.sort_values(by='sales',ascending=False)
df

  store   Location  sales
0     A     Mumbai  40000
1     B       pune  45000
2     C  hyderabad  50000
3     D     mumbai  90000
4     A       pune  89000
5     D      delhi  87000
6     A  hyderabad  85000
7     C       pune  78000

In [25]:
df['rank_sales']=df['sales'].rank()
df

  store   Location  sales  rank_sales
0     A     Mumbai  40000         1.0
1     B       pune  45000         2.0
2     C  hyderabad  50000         3.0
3     D     mumbai  90000         8.0
4     A       pune  89000         7.0
5     D      delhi  87000         6.0
6     A  hyderabad  85000         5.0
7     C       pune  78000         4.0

In [26]:
df.sort_values(by='sales')
df

  store   Location  sales  rank_sales
0     A     Mumbai  40000         1.0
1     B       pune  45000         2.0
2     C  hyderabad  50000         3.0
3     D     mumbai  90000         8.0
4     A       pune  89000         7.0
5     D      delhi  87000         6.0
6     A  hyderabad  85000         5.0
7     C       pune  78000         4.0

You need to make a program that counts the number of vowels in a given text. The vowels are a, e, i, o, and u.

In [1]:
string=input("enter the string:")
count=0
vowels=['a','e','i','o','u']
for i in string:
    if i in vowels:
        count=count+1
print(count)

enter the string:pojitha
3

Manipulating Strings

You are making a text editor and need to implement find/replace functionality. 
The code declares a text string. You need to take two string inputs, which represent the
substring to find and what to replace it with in the text. Your program needs to output the 
number of replacements made, along with the new text.

For example, for the given text "I weigh 80 kilograms. He weighs 65 kilograms.":

In [2]:
text="I weigh 80 kilograms. He weighs 65 kilograms."
sub1=input("enter the string1")
sub2=input("enter the string2")

print(text.count(sub1))
print(text.replace(sub1, sub2))

enter the string1roja is 36 kilograms
enter the string2suni 30 kilograms
0
I weigh 80 kilograms. He weighs 65 kilograms.

Write a program that asks the user to enter size of the list, then do the following:

(a) if size of the list is less than 4 then print a message to user "Invalid size and enter a size more than 4". The program will continue from begining.

(b) After taking valid size , program should take list items from user and create user defined list.

(c) Use the choice() function to print out random item from the list.

(d) Use the sample() function to print out three random items from the list.
(e) Use the shuffle() function to reorder the list and then print out the list.

Choice(),shuffle(),sample() functions are defined under random library. You need to import random library to use it.
Sample Input/Output: Enter number of elements in the list: 3

Invalid size and enter a size more than 4

Enter number of elements in the list: 5

1

2

3

4

5

Random item from the list: 1

Three random items from the list: ['1', '4', '2']

Shuffeled list: ['3', '4', '5', '1', '2']

In [1]:
import random
from random import choice,shuffle,sample
list1=[]
num=int(input("Enter number of elements in the list:"))
if num<4:
    print("Invalid size and enter a size more than 4")
ele=int(input("enter number of elements in the list:"))
for i in range(1,ele+1):
    list1.append(i)
print("Random item from the list:")
print(random.choice(list1))
print("Three random items from the list:")
print(sample(list1,3))
print("Shuffeled list:")
print(random.shuffle(list1))

Enter number of elements in the list:3
Invalid size and enter a size more than 4
enter number of elements in the list:5
Random item from the list:
1
Three random items from the list:
[2, 1, 5]
Shuffeled list:
None

In [ ]:
n=int(input("enter:"))
if n&1==0:print("even")

In [ ]:
num=10
for i in range(1,num/2):
    if num%i==0:
        print(i)